
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/

# VSCode settings
.vscode/

# Mac OS
.DS_Store

# Pytest cache
.pytest_cache/

# Environment variable files
.env

# Output
*.log
